In [107]:
# Importting the file
from google.colab import files
import pandas as pd
import numpy as np
import datetime


uploaded = files.upload()

Saving flight.csv to flight (1).csv

In [108]:
# Reading the dataframe and assigning null values
file_name = list(uploaded.keys())[0]
df = pd.read_csv('flight.csv', na_values=['.', '#NAME?', '-', '#', 'NaN', '?', 'NaT'])

# Displaying the first five rows
df.head(9)

,MEMBER_NO,FFP_DATE,FIRST_FLIGHT_DATE,GENDER,FFP_TIER,WORK_CITY,WORK_PROVINCE,WORK_COUNTRY,AGE,LOAD_TIME,...,SUM_YR_2,SEG_KM_SUM,LAST_FLIGHT_DATE,LAST_TO_END,AVG_INTERVAL,MAX_INTERVAL,EXCHANGE_COUNT,avg_discount,Points_Sum,Point_NotFlight
0,54993,11/2/2006,12/24/2008,Male,6,NaN,beijing,CN,31.0,3/31/2014,...,234188.0,580717,3/31/2014,1,3.483254,18,34,0.961639,619760,50
1,28065,2/19/2007,8/3/2007,Male,6,NaN,beijing,CN,42.0,3/31/2014,...,167434.0,293678,3/25/2014,7,5.194245,17,29,1.252314,415768,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,22631,4/9/2010,4/9/2010,Female,6,wenzhoushi,zhejiang,CN,50.0,3/31/2014,...,114971.0,287230,3/29/2014,3,10.111111,45,7,0.962070,351198,14
8,32197,6/7/2011,7/1/2011,Male,5,DRANCY,NaN,FR,50.0,3/31/2014,...,87401.0,321489,3/26/2014,6,13.054545,94,5,0.828478,295158,7

In [109]:
# Getting a summary of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62988 entries, 0 to 62987
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MEMBER_NO          62988 non-null  int64
 1   FFP_DATE           62988 non-null  object
 2   FIRST_FLIGHT_DATE  62988 non-null  object
 3   GENDER             62985 non-null  object
 4   FFP_TIER           62988 non-null  int64
 5   WORK_CITY          59970 non-null  object
 6   WORK_PROVINCE      58545 non-null  object
 7   WORK_COUNTRY       62962 non-null  object
 8   AGE                62568 non-null  float64
 9   LOAD_TIME          62988 non-null  object
 10  FLIGHT_COUNT       62988 non-null  int64
 11  BP_SUM             62988 non-null  int64
 12  SUM_YR_1           62437 non-null  float64
 13  SUM_YR_2           62850 non-null  float64
 14  SEG_KM_SUM         62988 non-null  int64
 15  LAST_FLIGHT_DATE   62988 non-null  object
 16  LAST_TO_END        62988 non-null  int64
 17  AVG_INTERVAL       62988 non-null  float64
 18  MAX_INTERVAL       62988 non-null  int64
 19  EXCHANGE_COUNT     62988 non-null  int64
 20  avg_discount       62988 non-null  float64
 21  Points_Sum         62988 non-null  int64
 22  Point_NotFlight    62988 non-null  int64
dtypes: float64(5), int64(10), object(8)
memory usage: 11.1+ MB

In [110]:
# Get the count of null values in each column
null_counts = df.isnull().sum()
print(null_counts)

MEMBER_NO          0
FFP_DATE           0
                  ..
Points_Sum         0
Point_NotFlight    0
Length: 23, dtype: int64

Handling Missing Values

In [111]:
# Work_City and Work_Province columns have about 9% of missing data
# 5 other columns have less than 5% missing values so the row will be removed

In [112]:
# Removing rows with low number of missing value columns
important_columns = ['GENDER', 'WORK_COUNTRY', 'AGE', 'SUM_YR_1', 'SUM_YR_2']
df_cleaned = df.dropna(subset=important_columns)

print(f"Number of rows after removing rows with missing values in important columns: {df_cleaned.shape[0]}")
null_counts_new = df_cleaned.isnull().sum()
print(null_counts_new)

Number of rows after removing rows with missing values in important columns: 61856
MEMBER_NO          0
FFP_DATE           0
                  ..
Points_Sum         0
Point_NotFlight    0
Length: 23, dtype: int64

In [113]:
# Removed rows with null values in columns having less than 5% missing data
# Handling values for data retention in columns with about 9% missing values --> Work_City, Work_Province

Cleaning the Complete Columns

In [114]:
# Cleaning the Work Country Column by correcting repeated values and values in a different language and wrong values
countries = df_cleaned['WORK_COUNTRY'].unique()
print (countries)

['CN' 'US' 'FR' 'JP' 'HK' 'MY' 'AU' 'NL' 'MX' 'CA' 'KR' 'PK' 'TH' 'SG'
 'BR' 'PE' 'AE' 'HN' 'PH' 'ID' 'MO' 'GN' 'FL' 'KH' 'TW' 'VN' 'DE' 'IL'
 'CH' 'PA' 'VT' 'EC' 'NG' 'BI' 'GT' 'BE' 'GL' 'NZ' 'FA' 'NI' 'KO' 'AN'
 'CC' 'UV' 'MN' 'UK' 'AS' 'IT' 'OM' 'SE' 'BZ' 'IN' 'KZ' 'PT' 'NO' 'MS'
 'FI' 'UZ' 'NE' 'AT' 'AA' 'HU' 'CY' 'EG' 'MA' '中' 'ES' 'MZ' 'IR' 'SW' 'RE'
 'PS' 'KE' 'SN' 'BB' 'AZ' 'UA' 'LB' 'YE' 'GE' 'SI' 'KA' 'MV' 'RO' 'ZA'
 'DK' 'AB' 'CD' 'UY' 'CM' 'TK' 'AR' 'BN' 'PN' 'BD' '北' 'SU' 'RU' '沈' 'GU'
 'GB' 'ZW' 'PP' '芬' 'FO' 'IE' 'PR' 'BS' 'GH' 'SK' 'cn' 'TR' 'LA' 'BG' 'CL'
 'CR' 'SA']

In [115]:
country_code_replacement = {'cn': 'CN', '中': 'CN', '北': 'CN', '沈': 'CN', '芬': 'FI', 'FL' : 'FR', 'CH' : 'CN', 'VT' : 'VN', 'AN' : 'NL', 'UK' : 'GB', 'AA' : 'SA'}

# Perform the replacement
df_cleaned.loc[:, 'WORK_COUNTRY'] = df_cleaned['WORK_COUNTRY'].replace(country_code_replacement)

countries_new = df_cleaned['WORK_COUNTRY'].unique()
print(countries_new)

['CN' 'US' 'FR' 'JP' 'HK' 'MY' 'AU' 'NL' 'MX' 'CA' 'KR' 'PK' 'TH' 'SG'
 'BR' 'PE' 'AE' 'HN' 'PH' 'ID' 'MO' 'GN' 'KH' 'TW' 'VN' 'DE' 'IL' 'PA'
 'EC' 'NG' 'BI' 'GT' 'BE' 'GL' 'NZ' 'FA' 'NI' 'KO' 'CC' 'UV' 'MN' 'GB'
 'AS' 'IT' 'OM' 'SE' 'BZ' 'IN' 'KZ' 'PT' 'NO' 'MS' 'FI' 'UZ' 'NE' 'AT'
 'SA' 'HU' 'CY' 'EG' 'MA' 'ES' 'MZ' 'IR' 'SW' 'RE' 'PS' 'KE' 'SN' 'BB'
 'AZ' 'UA' 'LB' 'YE' 'GE' 'SI' 'KA' 'MV' 'RO' 'ZA' 'DK' 'AB' 'CD' 'UY'
 'CM' 'TK' 'AR' 'BN' 'PN' 'BD' 'SU' 'RU' 'GU' 'ZW' 'PP' 'FO' 'IE' 'PR'
 'BS' 'GH' 'SK' 'TR' 'LA' 'BG' 'CL' 'CR']

In [116]:
# Cleaning the WORK_COUNTRY column further by removing incorrect values

values_to_drop = ['FA', 'KO', 'UV', 'MA', 'SW', 'KA', 'AB', 'SU', 'PP']
df_cleaned2 = df_cleaned[~df_cleaned['WORK_COUNTRY'].isin(values_to_drop)]

print (df_cleaned2['WORK_COUNTRY'].unique())

['CN' 'US' 'FR' 'JP' 'HK' 'MY' 'AU' 'NL' 'MX' 'CA' 'KR' 'PK' 'TH' 'SG'
 'BR' 'PE' 'AE' 'HN' 'PH' 'ID' 'MO' 'GN' 'KH' 'TW' 'VN' 'DE' 'IL' 'PA'
 'EC' 'NG' 'BI' 'GT' 'BE' 'GL' 'NZ' 'NI' 'CC' 'MN' 'GB' 'AS' 'IT' 'OM'
 'SE' 'BZ' 'IN' 'KZ' 'PT' 'NO' 'MS' 'FI' 'UZ' 'NE' 'AT' 'SA' 'HU' 'CY'
 'EG' 'ES' 'MZ' 'IR' 'RE' 'PS' 'KE' 'SN' 'BB' 'AZ' 'UA' 'LB' 'YE' 'GE'
 'SI' 'MV' 'RO' 'ZA' 'DK' 'CD' 'UY' 'CM' 'TK' 'AR' 'BN' 'PN' 'BD' 'RU'
 'GU' 'ZW' 'FO' 'IE' 'PR' 'BS' 'GH' 'SK' 'TR' 'LA' 'BG' 'CL' 'CR']

In [117]:
# Adding a region column to characterize countries further for easier classification in cleaning
# Characterizing countries with regions
# Adding a region column

# lists of countries for each region
NA = ['US', 'CA', 'MX', 'HN', 'PA', 'GT', 'GL', 'NI', 'BZ', 'MS', 'BB', 'PR', 'BS', 'CR']
EU = ['FR', 'NL', 'DE', 'BE', 'IT', 'SE', 'PT', 'NO', 'FI', 'AT', 'HU', 'UA', 'SI', 'RO', 'DK', 'RU', 'GB', 'FO', 'IE', 'SK', 'TR', 'BG', 'ES']
ASIA = ['CN', 'JP', 'HK', 'MY', 'KR', 'PK', 'TH', 'SG', 'AE', 'PH', 'ID', 'MO', 'KH', 'TW', 'VN', 'IL', 'CC', 'MN', 'OM', 'IN', 'KZ', 'UZ', 'CY', 'IR', 'PS', 'AZ', 'LB', 'YE', 'GE', 'MV', 'BN', 'BD', 'CA', 'SA']
OC = ['AU', 'NZ', 'AS', 'TK', 'PN', 'GU']
SA = ['BR', 'PE', 'EC', 'UY', 'AR', 'CL']
AF = ['GN', 'NG', 'BI', 'NE', 'EG', 'MZ', 'RE', 'KE', 'SN', 'ZA', 'CD', 'CM']


# list to dictionary
country_to_region = {}

country_to_region.update({country: 'North America' for country in NA})
country_to_region.update({country: 'Europe' for country in EU})
country_to_region.update({country: 'Asia' for country in ASIA})
country_to_region.update({country: 'Oceania' for country in OC})
country_to_region.update({country: 'South America' for country in SA})

df['WORK_REGION'] = None

# Assigning regions based on the country
for country, region in country_to_region.items():
    df_cleaned2.loc[df_cleaned2['WORK_COUNTRY'] == country, 'WORK_REGION'] = region

a = df_cleaned2['WORK_REGION'].unique()
print(a)

<ipython-input-117-b7f4d7d3aada>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned2.loc[df_cleaned2['WORK_COUNTRY'] == country, 'WORK_REGION'] = region

['Asia' 'North America' 'Europe' 'Oceania' 'South America' nan]

In [118]:
# Slicing the dataset since Oceania is the relevant region to work on
oceania_df = df_cleaned2[df_cleaned2['WORK_REGION'] == 'Oceania']

Cleaning the Work City Column

In [119]:
# Cleaning Work_City Column

# Convert the 'WORK_CITY' column to uppercase using .loc
oceania_df.loc[:, 'WORK_CITY'] = oceania_df['WORK_CITY'].str.upper()

# Set pandas option to display all rows
pd.set_option('display.max_rows', None)

city_list = oceania_df['WORK_CITY'].unique()


print(city_list)

[nan 'CRONULLA' 'VIC' 'VICTORIA' 'SYDNEY' 'CABRAMATTA' 'COLLAROY PLATEAU'
 'BATTERY POINT' 'DONCOSTER EAST' 'SYDENY' 'MATRAVILLE' 'CANBERRA'
 'MELBOURNE' 'SYANEY' 'PARRAMATTA B.C' 'NARWEE' 'HURSTVILLE'
 'ENDEAVOUR HILLS' 'EASTWOOD' 'NAARADEN' 'GUILDFORD' 'NTH RICHMOND'
 'EPPING' 'KOGARAH' 'BRISBANE' 'CROYDON' 'LISAROW' 'DANDENONG' 'SEAFORTU'
 'SYDNY' 'NSW' 'MELBOURUE' 'MOORABBIN' 'DONCASTER' 'MELBUNE' 'MEIBOURNE'
 'ASHFIELD' 'YDNEY' 'DANDENONG NORTH' 'WOLLONGONG' 'LALORPARK'
 'LIVERPOOL BC' 'SYONEY' 'XINI' 'SOUTH MELBOURNE' 'CANLEY VALE' 'REDFERN'
 'CHERRYBROOK' 'SYDNEN' 'ALLHAMING' 'AUCKLAND' 'CHATSWOOD' 'BEXLEY'
 'AUSTRALA' 'ROCKDALE' 'ROSEMEAD' 'KENSINGTON' 'NEWCASTLE' 'AUSTRALIA'
 'GLEN WAVER LEY' 'LREMORNE' 'WEST HOXTON' 'BANKSTOWN' 'NOWRA' 'PARKVILLE'
 'THIRRDUL' 'LINLEYPOINT' 'MT WAVERLEY' 'ACTONA MEADOWS' 'MELBOWRNE'
 'CAMPSIE' 'MELBOUME' 'TEMPLESTOWE' 'BALWYN NGRTH' 'PARRAMATTA'
 'GRANVILLE' 'ESSENDON NORTH' 'ARTARMON' 'MELLBOURNE' 'YAGOONA'
 'RYDALMERE' 'GLEN WAYVERLEY' 'SGDNEY' 'BROOKFIELD' 'BOX HIEE' 'GORDON'
 'MARRICKVILLE' 'KINGSGROVE NSW' 'DEE WHY' 'DOORA' 'CHENGDUSHI' 'IVANHOE'
 'PYRMONT' 'CLAYTON SOUTH' 'EIGHT MILE PLAINS' 'STRATHFIELD' 'KMGGROVE'
 'CANDERRA' 'MEL' 'STEATHTIELD' 'ISTANBUL' 'PHNOM PENH' 'DARLING POINT'
 'CARLINGFORD' 'TOORAK GDNS' 'GDD COAST' 'SHENYANG' 'TAMUNING' 'ACT'
 'DUNEDIN' 'BRUNSWKK' 'NUSSBACH' 'SYLVANIA WATERS' 'TALLAI' 'MT GREEK'
 'PERTH' 'CARNEGIE' 'RYDE' 'ENGGENBURG' 'GEELONG']

In [120]:
# Replacing Sydney suburb names
sydney_replacement = {'CHERRYBROOK': 'SYDNEY','STEATHTIELD': 'SYDNEY','RYDE': 'SYDNEY','SYLVANIA WATERS': 'SYDNEY','CARLINGFORD':'SYDNEY','DARLING POINT': 'SYDNEY',
                      'STRATHFIELD':'SYDNEY','PYRMONT': 'SYDNEY','DEE WHY': 'SYDNEY','KINGSGROVE NSW': 'SYDNEY','EPPING': 'SYDNEY','CROYDON': 'SYDNEY','ASHFIELD': 'SYDNEY',
                      'MARRICKVILLE': 'SYDNEY','GORDON': 'SYDNEY','RYDALMERE': 'SYDNEY','YAGOONA': 'SYDNEY', 'ARTARMON': 'SYDNEY','GRANVILLE': 'SYDNEY','PARRAMATTA': 'SYDNEY',
                      'CAMPSIE': 'SYDNEY','LINLEYPOINT': 'SYDNEY','BANKSTOWN': 'SYDNEY','WEST HOXTON': 'SYDNEY', 'ROCKDALE': 'SYDNEY','AUSTRALIA': 'SYDNEY','AUSTRALA':
                      'SYDNEY','BEXLEY': 'SYDNEY','CHATSWOOD': 'SYDNEY','REDFERN': 'SYDNEY','CANLEY VALE': 'AUSTRALIA','LIVERPOOL BC': 'SYDNEY','LALORPARK': 'SYDNEY',
                      'NSW': 'SYDNEY','KOGARAH': 'SYDNEY','NTH RICHMOND': 'SYDNEY','EASTWOOD': 'SYDNEY','HURSTVILLE': 'SYDNEY','NARWEE': 'SYDNEY',
                      'PARRAMATTA B.C': 'SYDNEY','MATRAVILLE': 'SYDNEY','COLLAROY PLATEAU' : 'SYDNEY', 'CABRAMATTA': 'SYDNEY','CRONULLA': 'SYDNEY',
                      'SYDENY': 'SYDNEY', 'SYANEY': 'SYDNEY', 'SYDNY': 'SYDNEY', 'YDNEY': 'SYDNEY', 'SYONEY': 'SYDNEY', 'SYDNEN' : 'SYDNEY', 'SGDNEY' : 'SYDNEY'}

# Performing the replacement
oceania_df.loc[:, 'WORK_CITY'] = oceania_df['WORK_CITY'].replace(sydney_replacement)

# Replacing Melbourne suburb names
melbourne_replacement = {'ACTONA MEADOWS':'MELBOURNE','PARKVILLE':'MELBOURNE', 'CARNEGIE': 'MELBOURNE','BRUNSWKK': 'MELBOURNE', 'CLAYTON SOUTH': 'MELBOURNE','IVANHOE': 'MELBOURNE','GLEN WAYVERLEY': 'MELBOURNE',
                         'ESSENDON NORTH': 'MELBOURNE','BALWYN NGRTH': 'MELBOURNE','TEMPLESTOWE': 'MELBOURNE','MT WAVERLEY': 'MELBOURNE','KENSINGTON': 'SYDNEY',
                         'GLEN WAVER LEY': 'MELBOURNE','DANDENONG NORTH': 'MELBOURNE','DONCASTER': 'MELBOURNE', 'MOORABBIN': 'MELBOURNE','DANDENONG': 'MELBOURNE',
                         'ENDEAVOUR HILLS': 'MELBOURNE','DONCOSTER EAST': 'MELBOURNE', 'VIC': 'MELBOURNE', 'VICTORIA': 'MELBOURNE', 'MELBUNE': 'MELBOURNE',
                         'MEIBOURNE': 'MELBOURNE', 'SOUTH MELBOURNE': 'MELBOURNE', 'MELBOWRNE': 'MELBOURNE', 'MELBOUME' : 'MELBOURNE', 'MELLBOURNE' : 'MELBOURNE',
                         'MELBOURUE': 'MELBOURNE', 'MEL': 'MELBOURNE'}

# Performing the replacement
oceania_df.loc[:, 'WORK_CITY'] = oceania_df['WORK_CITY'].replace(melbourne_replacement)

# Replacing Perth suburb names
perth_replacement = {'GUILDFORD': 'PERTH'}

# Performing the replacement
oceania_df.loc[:, 'WORK_CITY'] = oceania_df['WORK_CITY'].replace(perth_replacement)

# Replacing Central Coast suburb names
central_coast_replacement = {'LISAROW': 'CENTRAL COAST', 'SEAFORTU': 'CENTRAL COAST'}

# Performing the replacement
oceania_df.loc[:, 'WORK_CITY'] = oceania_df['WORK_CITY'].replace(central_coast_replacement)

# Replacing other city names
other_replacement = {'THIRRDUL': 'THIRROUL', 'BROOKFIELD': 'BRISBANE', 'EIGHT MILE PLAINS': 'BRISBANE', 'CANDERRA': 'CANBERRA', 'TOORAK GDNS': 'ADELAIDE',
                     'TALLAI': 'GOLD COAST','GDD COAST': 'GOLD COAST', 'BATTERY POINT': 'HOBART'}
# Performing the replacement
oceania_df.loc[:, 'WORK_CITY'] = oceania_df['WORK_CITY'].replace(other_replacement)


other_new = oceania_df['WORK_CITY'].unique()
print(other_new)

[nan 'SYDNEY' 'MELBOURNE' 'HOBART' 'CANBERRA' 'NAARADEN' 'PERTH'
 'BRISBANE' 'CENTRAL COAST' 'WOLLONGONG' 'XINI' 'AUSTRALIA' 'ALLHAMING'
 'AUCKLAND' 'ROSEMEAD' 'NEWCASTLE' 'LREMORNE' 'NOWRA' 'THIRROUL'
 'BOX HIEE' 'DOORA' 'CHENGDUSHI' 'KMGGROVE' 'ISTANBUL' 'PHNOM PENH'
 'ADELAIDE' 'GOLD COAST' 'SHENYANG' 'TAMUNING' 'ACT' 'DUNEDIN' 'NUSSBACH'
 'MT GREEK' 'ENGGENBURG' 'GEELONG']

In [121]:
# Dropping rows of Incorrect values
values_to_drop = ['NAARADEN', 'XINI','ALLHAMING','ROSEMEAD', 'LREMORNE', 'BOX HIEE', 'DOORA', 'CHENGDUSHI', 'KMGGROVE', 'ISTANBUL',
 'PHNOM PENH', 'SHENYANG','NUSSBACH', 'MT GREEK', 'ENGGENBURG' ]
oceania_df = oceania_df.loc[~oceania_df['WORK_CITY'].isin(values_to_drop)]

f = oceania_df['WORK_CITY'].unique()
print(f)

[nan 'SYDNEY' 'MELBOURNE' 'HOBART' 'CANBERRA' 'PERTH' 'BRISBANE'
 'CENTRAL COAST' 'WOLLONGONG' 'AUSTRALIA' 'AUCKLAND' 'NEWCASTLE' 'NOWRA'
 'THIRROUL' 'ADELAIDE' 'GOLD COAST' 'TAMUNING' 'ACT' 'DUNEDIN' 'GEELONG']

Cleaning the Work Province Column

In [122]:
# Convert the 'WORK_PROVINCE' column to uppercase using .loc
oceania_df.loc[:, 'WORK_PROVINCE'] = oceania_df['WORK_PROVINCE'].str.upper()

# Set pandas option to display all rows
pd.set_option('display.max_rows', None)

province_list = oceania_df['WORK_PROVINCE'].unique()

print(province_list)

['VIC' 'NSW' 'AU' nan 'N.S.W' 'AUS' 'TASMANIA' 'VICTORIA' 'ACT' 'N S W'
 'C' 'N.S.W.' 'SYDNEY' 'VICORIA' 'SW' 'NWN' 'AUSTRALA' 'NEW SOUTH WALES'
 'W' 'VICTORY' 'QLD' 'N-S-W' 'QUEENSLAND' 'BETHUNGRA' 'SOUTH AUSTRACIA'
 'TAMUNING' 'CANBERRA' 'AUSTARLIA' 'VICTOR' 'OTAGO' 'M.S.W' 'NJW']

In [123]:
# Replacing Province names
province_replacement = {'VIC': 'VICTORIA', 'NSW': 'NEW SOUTH WALES', 'N.S.W': 'NEW SOUTH WALES', 'AU': 'AUS','BETHUNGRA': 'NEW SOUTH WALES',
                        'N S W': 'NEW SOUTH WALES','N.S.W.': 'NEW SOUTH WALES', 'SYDNEY': 'NEW SOUTH WALES','SW': 'NEW SOUTH WALES',
                        'AUSTRILIA': 'AUS', 'NWN': 'NEW SOUTH WALES', 'AUSTRALA': 'AUS', 'W': 'NEW SOUTH WALES','VICTORY': 'VICTORIA', 'QLD': 'QUEENSLAND',
                        'N-S-W': 'NEW SOUTH WALES', 'SOUTH AUSTRACIA': 'SOUTH AUSTRALIA', 'CANBERRA': 'ACT', 'AUSTRALIA': 'AUS',
                        'VICTOR': 'VICTORY', 'M.S.W': 'NEW SOUTH WALES', 'NJW': 'NEW SOUTH WALES'}

# Performing the replacement
oceania_df.loc[:, 'WORK_PROVINCE'] = oceania_df['WORK_PROVINCE'].replace(province_replacement)


province_new = oceania_df['WORK_PROVINCE'].unique()
print(province_new)

['VICTORIA' 'NEW SOUTH WALES' 'AUS' nan 'TASMANIA' 'ACT' 'C' 'VICORIA'
 'QUEENSLAND' 'SOUTH AUSTRALIA' 'TAMUNING' 'AUSTARLIA' 'VICTORY' 'OTAGO']

In [124]:
# Dropping rows of Incorrect values
values_to_drop = ['C' ]
oceania_df = oceania_df.loc[~oceania_df['WORK_PROVINCE'].isin(values_to_drop)]

g = oceania_df['WORK_PROVINCE'].unique()
print(g)

['VICTORIA' 'NEW SOUTH WALES' 'AUS' nan 'TASMANIA' 'ACT' 'VICORIA'
 'QUEENSLAND' 'SOUTH AUSTRALIA' 'TAMUNING' 'AUSTARLIA' 'VICTORY' 'OTAGO']

In [125]:
# Work City, Province, and Country Columns are related and can help fill out each other
# grouping rows in the following manner:
# group 1 = (City, Null Province, Country)
# group 2 = (Null City, Province, Country)
# group 3 = (Null City, Null Province, Country)

GROUP 1

In [126]:
# Using city names to fill null states (mapping)

group1 = oceania_df[(oceania_df['WORK_CITY'].notnull()) & (oceania_df['WORK_PROVINCE'].isna())]

city_to_state = {
    'SYDNEY': 'NEW SOUTH WALES',
    'MELBOURNE': 'VICTORIA',
    'PERTH': 'WESTERN AUSTRALIA',
    'CENTRAL COAST': 'QUEENSLAND',
    'THIRROUL': 'NEW SOUTH WALES',
    'BRISBANE': 'QUEENSLAND',
    'ADELAIDE': 'SOUTH AUSTRALIA',
    'GOLD COAST': 'QUEENSLAND',
    'HOBART': 'TASMANIA',
    'CANBERRA': 'ACT',
    'WOLLOGONG':'NEW SOUTH WALES',
    'AUSTRALIA': 'AUS',
    'AUCKLAND': 'AUCKLAND',
    'NEWSCASTLE': 'NEW SOUTH WALES',
    'NOWRA':'NEW SOUTH WALES',
    'TAMUNING': 'TAMUNING',
    'ACT':'ACT',
    'DUNEDIN': 'OTAGO',
    'GEELONG': 'VICTORIA'
}

group1['WORK_PROVINCE'] = group1['WORK_CITY'].map(city_to_state)

oceania_df.loc[group1.index, 'WORK_PROVINCE'] = group1['WORK_PROVINCE']

pd.set_option('display.max_rows', None)

print (group1['WORK_PROVINCE'])

507               VICTORIA
3634       NEW SOUTH WALES
7371            QUEENSLAND
8388       NEW SOUTH WALES
9281              VICTORIA
9471              VICTORIA
10055             VICTORIA
10785             VICTORIA
12950             AUCKLAND
13081             VICTORIA
13273      NEW SOUTH WALES
13472      NEW SOUTH WALES
13680      NEW SOUTH WALES
14436      NEW SOUTH WALES
22849      NEW SOUTH WALES
29846      NEW SOUTH WALES
34177             AUCKLAND
40565             VICTORIA
58989    WESTERN AUSTRALIA
61063             VICTORIA
Name: WORK_PROVINCE, dtype: object

<ipython-input-126-345bb99c5e76>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group1['WORK_PROVINCE'] = group1['WORK_CITY'].map(city_to_state)

GROUP 2

In [127]:
group2 = oceania_df[(oceania_df['WORK_CITY'].isna()) & (oceania_df['WORK_PROVINCE'].notnull())]
print (group2['WORK_PROVINCE'])

69              VICTORIA
4212     NEW SOUTH WALES
6258     NEW SOUTH WALES
9139            VICTORIA
17028    NEW SOUTH WALES
21289    NEW SOUTH WALES
24212    NEW SOUTH WALES
Name: WORK_PROVINCE, dtype: object

In [128]:
# Filling in the cities through common values of corresponding states
state_to_city = {
    'VICTORIA': 'MELBOURNE',
    'NEW SOUTH WALES': 'SYDNEY',

}

group2['WORK_CITY'] = group2['WORK_PROVINCE'].map(state_to_city)

oceania_df.loc[group2.index, 'WORK_CITY'] = group2['WORK_CITY']


pd.set_option('display.max_rows', None)

print (group2['WORK_CITY'])

69       MELBOURNE
4212        SYDNEY
6258        SYDNEY
9139     MELBOURNE
17028       SYDNEY
21289       SYDNEY
24212       SYDNEY
Name: WORK_CITY, dtype: object

<ipython-input-128-3f1c95919214>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group2['WORK_CITY'] = group2['WORK_PROVINCE'].map(state_to_city)

Group 3

In [129]:
group3 = oceania_df[(oceania_df['WORK_CITY'].isna()) & (oceania_df['WORK_PROVINCE'].isna())]
print (group3['WORK_COUNTRY'])

1508     AU
2236     AU
3452     AU
7379     AU
7951     AU
9239     AU
9470     AU
11035    AU
13297    AU
14158    AU
18311    AU
18713    AU
19250    AU
19290    AU
22032    AU
22853    AU
25037    AU
32518    AU
32670    AU
35982    AU
49068    AU
51844    AU
58227    AU
Name: WORK_COUNTRY, dtype: object

In [130]:
# Mode in Australia is Sydney, NSW
# Filling in missing values with the mode

In [131]:
country_to_state = {
    'AU': 'NEW SOUTH WALES',

}

group3['WORK_PROVINCE'] = group3['WORK_COUNTRY'].map(country_to_state)

oceania_df.loc[group3.index, 'WORK_PROVINCE'] = group3['WORK_PROVINCE']

pd.set_option('display.max_rows', None)

print (group3['WORK_PROVINCE'])

1508     NEW SOUTH WALES
2236     NEW SOUTH WALES
3452     NEW SOUTH WALES
7379     NEW SOUTH WALES
7951     NEW SOUTH WALES
9239     NEW SOUTH WALES
9470     NEW SOUTH WALES
11035    NEW SOUTH WALES
13297    NEW SOUTH WALES
14158    NEW SOUTH WALES
18311    NEW SOUTH WALES
18713    NEW SOUTH WALES
19250    NEW SOUTH WALES
19290    NEW SOUTH WALES
22032    NEW SOUTH WALES
22853    NEW SOUTH WALES
25037    NEW SOUTH WALES
32518    NEW SOUTH WALES
32670    NEW SOUTH WALES
35982    NEW SOUTH WALES
49068    NEW SOUTH WALES
51844    NEW SOUTH WALES
58227    NEW SOUTH WALES
Name: WORK_PROVINCE, dtype: object

<ipython-input-131-2780a5258bf6>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group3['WORK_PROVINCE'] = group3['WORK_COUNTRY'].map(country_to_state)

In [132]:
state_to_city2 = {
    'NEW SOUTH WALES': 'SYDNEY',

}

group3['WORK_CITY'] = group3['WORK_PROVINCE'].map(state_to_city2)

oceania_df.loc[group3.index, 'WORK_CITY'] = group3['WORK_CITY']

pd.set_option('display.max_rows', None)

print (group3['WORK_CITY'])

1508     SYDNEY
2236     SYDNEY
3452     SYDNEY
7379     SYDNEY
7951     SYDNEY
9239     SYDNEY
9470     SYDNEY
11035    SYDNEY
13297    SYDNEY
14158    SYDNEY
18311    SYDNEY
18713    SYDNEY
19250    SYDNEY
19290    SYDNEY
22032    SYDNEY
22853    SYDNEY
25037    SYDNEY
32518    SYDNEY
32670    SYDNEY
35982    SYDNEY
49068    SYDNEY
51844    SYDNEY
58227    SYDNEY
Name: WORK_CITY, dtype: object

<ipython-input-132-64dd166ce5f3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group3['WORK_CITY'] = group3['WORK_PROVINCE'].map(state_to_city2)

##Final Oceania Dataset

In [133]:

# Round the AVG DISCOUNT and AVG INTERVAL column to one decimal place
oceania_df['avg_discount'] = df['avg_discount'].round(1)
oceania_df['AVG_INTERVAL'] = df['AVG_INTERVAL'].round(1)

pd.set_option('display.max_rows', 5)

print(oceania_df)

       MEMBER_NO    FFP_DATE FIRST_FLIGHT_DATE  GENDER  FFP_TIER  WORK_CITY  \
69         47919  12/14/2008         5/20/2010  Female         6  MELBOURNE
113        19371   5/31/2007         5/31/2007    Male         5     SYDNEY
...          ...         ...               ...     ...       ...        ...
62459      55302   5/21/2007         6/19/2008  Female         4     SYDNEY
62910      51749   6/12/2012         6/12/2012    Male         4    GEELONG

         WORK_PROVINCE WORK_COUNTRY   AGE  LOAD_TIME  ...  SEG_KM_SUM  \
69            VICTORIA           AU  43.0  3/31/2014  ...      184194
113    NEW SOUTH WALES           AU  53.0  3/31/2014  ...      159605
...                ...          ...   ...        ...  ...         ...
62459  NEW SOUTH WALES           AU  41.0  3/31/2014  ...        2378
62910         VICTORIA           AU  20.0  3/31/2014  ...        1312

       LAST_FLIGHT_DATE  LAST_TO_END  AVG_INTERVAL  MAX_INTERVAL  \
69            3/25/2014            7          24.4            92
113           3/18/2014           14          32.4            80
...                 ...          ...           ...           ...
62459        10/31/2013          153          11.0            11
62910         6/28/2012          643          16.0            16

      EXCHANGE_COUNT  avg_discount  Points_Sum  Point_NotFlight  WORK_REGION
69                 3           0.9      212047                3      Oceania
113                7           0.9      174849                8      Oceania
...              ...           ...         ...              ...          ...
62459              0           0.3        1386                1      Oceania
62910              0           0.3         532                0      Oceania

[258 rows x 24 columns]

Handling Incorrect Date Formats

In [134]:
# Formatting the FFP_DATE correctly

# Covert to Datetime
oceania_df.loc[:,'FFP_DATE'] = pd.to_datetime(oceania_df['FFP_DATE'], format='%m/%d/%Y', errors='coerce')

# Identify rows with conversion errors
invalid_dates = oceania_df[oceania_df['FFP_DATE'].isna()]
print(invalid_dates)

Empty DataFrame
Columns: [MEMBER_NO, FFP_DATE, FIRST_FLIGHT_DATE, GENDER, FFP_TIER, WORK_CITY, WORK_PROVINCE, WORK_COUNTRY, AGE, LOAD_TIME, FLIGHT_COUNT, BP_SUM, SUM_YR_1, SUM_YR_2, SEG_KM_SUM, LAST_FLIGHT_DATE, LAST_TO_END, AVG_INTERVAL, MAX_INTERVAL, EXCHANGE_COUNT, avg_discount, Points_Sum, Point_NotFlight, WORK_REGION]
Index: []

[0 rows x 24 columns]

In [135]:
# Formatting the FIRST_FLIGHT_DATE correctly

# Covert to Datetime
oceania_df.loc[:,'FIRST_FLIGHT_DATE'] = pd.to_datetime(oceania_df['FIRST_FLIGHT_DATE'], format='%m/%d/%Y', errors='coerce')

# Identify rows with conversion errors
invalid_dates2 = oceania_df[oceania_df['FIRST_FLIGHT_DATE'].isna()]
print(invalid_dates2)

Empty DataFrame
Columns: [MEMBER_NO, FFP_DATE, FIRST_FLIGHT_DATE, GENDER, FFP_TIER, WORK_CITY, WORK_PROVINCE, WORK_COUNTRY, AGE, LOAD_TIME, FLIGHT_COUNT, BP_SUM, SUM_YR_1, SUM_YR_2, SEG_KM_SUM, LAST_FLIGHT_DATE, LAST_TO_END, AVG_INTERVAL, MAX_INTERVAL, EXCHANGE_COUNT, avg_discount, Points_Sum, Point_NotFlight, WORK_REGION]
Index: []

[0 rows x 24 columns]

In [138]:
oceania_df.loc[5068,'LAST_FLIGHT_DATE'] = '02/28/2014'
oceania_df.loc[20573,'LAST_FLIGHT_DATE'] = '02/28/2014'
oceania_df.loc[24543,'LAST_FLIGHT_DATE'] = '02/28/2014'

In [139]:
# Formatting the LAST_FLIGHT_DATE correctly

# Covert to Datetime
oceania_df.loc[:,'LAST_FLIGHT_DATE'] = pd.to_datetime(oceania_df['LAST_FLIGHT_DATE'], format='%m/%d/%Y', errors='coerce')

# Identify rows with conversion errors
invalid_dates4 = oceania_df[oceania_df['LAST_FLIGHT_DATE'].isna()]
print(invalid_dates4)

Empty DataFrame
Columns: [MEMBER_NO, FFP_DATE, FIRST_FLIGHT_DATE, GENDER, FFP_TIER, WORK_CITY, WORK_PROVINCE, WORK_COUNTRY, AGE, LOAD_TIME, FLIGHT_COUNT, BP_SUM, SUM_YR_1, SUM_YR_2, SEG_KM_SUM, LAST_FLIGHT_DATE, LAST_TO_END, AVG_INTERVAL, MAX_INTERVAL, EXCHANGE_COUNT, avg_discount, Points_Sum, Point_NotFlight, WORK_REGION]
Index: []

[0 rows x 24 columns]

In [140]:
# Sorting the dataset by ascending Member no.
oceania_df.sort_values(by='MEMBER_NO', ascending=True, inplace=True)

In [141]:
csv_file_path = '/content/oceania_flights.csv'
oceania_df.to_csv(csv_file_path, index=True)

print(f"DataFrame has been saved to {csv_file_path}")

DataFrame has been saved to /content/oceania_flights.csv

In [142]:
from google.colab import files

# Download the CSV file
files.download(csv_file_path)